{{- $images := .Page.Resources.ByType "image" -}}
{{- if eq (len $images) 0 -}}
  {{- $images = resources.Match (.Get "path") -}}
{{- end -}}
{{- $videos := .Page.Resources.ByType "video" -}}

<div class="photo-gallery">
  {{- range $images -}}
    {{- $thumbnail := .Fit "400x600 q85" -}}
    {{- $fullsize := .Fit "1200x1200 q90" -}}
    <div class="gallery-item">
      <a href="{{ $fullsize.RelPermalink }}" class="gallery-link" target="_blank">
        <img src="{{ $thumbnail.RelPermalink }}"
             alt="{{ .Name }}"
             loading="lazy"
             width="{{ $thumbnail.Width }}"
             height="{{ $thumbnail.Height }}">
      </a>
    </div>
  {{- end -}}
  {{- range $videos -}}
    <div class="gallery-item gallery-item--video">
      <video controls preload="metadata" class="gallery-video">
        <source src="{{ .RelPermalink }}" type="{{ .MediaType }}">
        Your browser does not support the video tag.
      </video>
    </div>
  {{- end -}}
</div>
